<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="/fig/vlt.JPG" height="200"></a>
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about me</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">research</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">teaching</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">resume</a></li>
    </ul>
  </nav>
  <meta name="theme-color" content="#F1948A">
  
  <meta name="msapplication-navbutton-color" content="#851515">

</header>
