<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">Célia Desgrange</a>
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about me</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/research/">research</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/publications/">publications</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/teaching/">teaching</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/resume/">resume</a></li>
    </ul>
      <meta name="theme-color" content="#F1948A">
  
  <meta name="msapplication-navbutton-color" content="#851515">
     <meta name="navbar" content="#656515">

  </nav>

</header>
