@import "default_colors";

$body-background: #white !default;
$body-foreground: $conifer !default;

/**

 * Icons
 */

.icon {

    > svg {
        display: inline-block;
        width: 76px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color-light;
        }
    }
}

body {
  background-color: $body-background;
  color: $cod-grey;
}

header {
  background-color:  $body-background;
  color: $rajah;
}

