$apple-blossom: #ac4142;
$tandoori: #bb574d;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$conifer: #b5e853;
$cod-grey: #151515;
$white: #ffffff;
$alto: #d0d0d0;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;
$darkteal: #034447;
$teal: #209e87;
